default_install_hook_types: [pre-commit, pre-push]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.2
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format
- repo: https://github.com/jsh9/pydoclint
  rev: 0.3.4
  hooks:
  - id: pydoclint
    args:
    - "--config=pyproject.toml"
- repo: https://github.com/crate-ci/typos
  rev: v1.16.23
  hooks:
    - id: typos
      args: [--hidden, --force-exclude]
- repo: local
  hooks:
    - id: eslint
      name: eslint
      entry: ./.github/scripts/lint-frontend.sh
      types_or: [javascript, ts, json, html, scss, vue]
      language: system
      pass_filenames: false
    - id: commit-lint
      name: commit-lint
      stages: [push]
      entry: ./.github/scripts/lint-commits.sh
      language: system
      pass_filenames: false
