attrs==23.1.0
click==8.1.3
Flask==2.2.2
Flask-Cors==3.0.10
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema @ git+https://github.com/python-jsonschema/jsonschema@eb8255a473b4f6e9439322f9ec93e345bc7f17d6
MarkupSafe==2.1.1
pyrsistent==0.18.1
referencing==0.29.0
six==1.16.0
Werkzeug==2.2.2
git+https://github.com/antmicro/kenning-pipeline-manager-backend-communication.git
