body {
    margin: 0px;
}

label, input {
    width: 10%;
    display: block;
}
input {
    border-style: solid;
    border-width: 1px;
}

/* Implement it into a Node Factory */
.node {
    width: 300px !important;
}
