

label, input {
    width: 10%;
    display: block;
}
input {
    border-style: solid;
    border-width: 1px;
}

/* Implement it into a Node Factory */
.node {
    width: 300px !important;
}

input[type=file] {
    display: none;
}

input[type=button], input[type=submit], label {
    display: inline-block;
    box-sizing: content-box;

    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

    width: 250px;
    padding: 6px 12px;
    margin: 2px;

    border: 2px solid #c0e4eb;
    background-color: #f7f7f7;

    cursor: pointer;
    margin: 5px 5px 5px 5px
}

html, body, #app, #container {
    height: 100vh;
    margin: 0;
    background-color: #332d37;
}

.outer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.inner-editor {
    flex-grow: 1;
    border-top: 2px solid black;
}
